<footer>
    <ul class="social-wrapper">
      <li><img
          src="/assets/images/email.png"
          alt=""
          class="contact-icon"
        /></li>
      <li><img
          src="/assets/images/facebook.png"
          alt=""
          class="contact-icon"
        /></li>
      <li><img
          src="/assets/images/twitter.png"
          alt=""
          class="contact-icon"
        /></li>
      <li><img
          src="/assets/images/linkedin.png"
          alt=""
          class="contact-icon"
        /></li>
      <li><img
          src="/assets/images/location.png"
          alt=""
          class="contact-icon"
        /></li>
      <li><img
          src="/assets/images/phone.png"
          alt=""
          class="contact-icon"
        /></li>
    </ul>
  <p>Built and maintained by Lawler Innovations Inc
    &copy2022</p>
</footer>