<div class="container">
<nav class="header">
   <a href="/"><img class="guardguys-logo" src="/assets/images/logo_bordered.png" alt=""></a>
  <div class="">
    <div class="">
      <a href="#"><button class="nav-button">Program Management</button></a>
      <a href="#"><button class="nav-button">DOT</button></a>
      <a href="#"><button class="nav-button">About</button></a>
    </div>
  </div>
</nav>
