{{>navbar}}


<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">About Us</h1>
            <hr class="my-4">
            
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
             <div class="mission-statement">
         <h2>Mission Statement</h2>
        <h4><em>Our mission is to ensure fast, friendly, ethical and accurate services to our customers and comminities in which we serve.</em></h4>
    </div>
    <br>
    <h2>Leadership Team</h2>
    {{!-- Charlie's card --}}

    <div class="panel">
        <div class="panel-title">
            <div>
                <div class='bio-name'>Charlie Bebus, President</div>
                <div class='bio-education'>MBA (Business Broker, Operations Consultant)</div>
            </div>
        </div>
        <div class="panel-body">
           <div class="bio-wrapper">
                <img src="/assets/images/headshot_charlie.png" class="bio-pic" alt="..."/>
                <p>Charlie possesses more than 23 years of leadership and operations experience. He's had careers in active-duty military, law enforcement, supply chain, operational management, and non-profit turnaround in police and civic administration, bus manufacturing, lumber manufacturing and distribution and recruiting. Throughout his various careers, he built and trained successful teams, led Sales and Marketing efforts, operated in complex and stressful environments, and developed strategic relationships. Charlie has a Minnesota Salesperson license from the Department of Commerce, a bachelor's degree in police administration from St. Mary's University, and an MBA from the University of Minnesota Carlson School of Management. His areas of expertise: manufacturing, supply chain management and distribution, government contracts and veteran affairs relations.</p>
           </div>
        </div>
    </div>
    <br>

    {{!-- Pat's card --}}

    <div class="panel">
        <div class="panel-title">
            <div>
                <div class='bio-name'>Pat Lawler, Vice President</div>
                <div class='bio-education'>Masters of Aeronautical Science (Human Factors)</div>
            </div>
        </div>
        <div class="panel-body">
           <div class="bio-wrapper">
                <img src="/assets/images/headshot_pat.png"  class="bio-pic" width="200px" alt="..."/>
                <p>An aviation safety expert who manages the Company's DOT/TPA Consortiums. He earned a master's degree in aeronautical science from Embry-Riddle Aeronautical University. He has more than 30 years of experience in military aviation and airline aviation operations. Pat retired from the Air National Guard as a Master Sergeant overseeing the safety and professional training of 27 aviation electronics technicians at the 148th FW in Duluth, Minnesota. In his military career, he taught aviation electronics theory and repair to avionics technicians. After his retirement, Pat became the Interim Director of Aviation at Lake Superior College's Center for Advanced Aviation. He is also an airline with Delta's Endeavor Air.</p>
           </div>
        </div>
    </div>
    <br>


    {{!-- Elizabeth's card --}}
      <div class="panel">
        <div class="panel-title">
            <div>
                <div class='bio-name'>Elizabeth Tvedt, Director of Sales and Marketing</div>
                <div class='bio-education'></div>
            </div>
        </div>
        <div class="panel-body">
           <div class="bio-wrapper">
                <img src="/assets/images/headshot_elizabeth.png"  class="bio-pic" width="200px" alt="..."/>
                <p>Extensive experience building successful teams, operating in complex environments, and developing strategic relationships. Proven performer with strong organizational, motivational, and analytical abilities.</p>
           </div>
        </div>
    </div>
    <br>


    {{!-- Wendy's card --}}
     <div class="panel">
        <div class="panel-title">
            <div>
                <div class='bio-name'>Wendy Kulzer, Office Manager</div>
                <div class='bio-education'></div>
            </div>
        </div>
        <div class="panel-body">
           <div class="bio-wrapper">
                <img src="/assets/images/headshot_wendy.png"  class="bio-pic" width="200px" alt="..."/>
                <p>Extensive experience building successful teams, operating in complex environments, and developing strategic relationships. Proven performer with strong organizational, motivational, and analytical abilities.</p>
           </div>
        </div>
    </div>


        </div>
</div>


{{>footer}}