<div class="logo-wrapper">
    <a href="/public/admin.html"><img src="./assets/GuardGuys OnSITE Logo.png" alt=""></a>
    <div class="nav-items">
        {{#if session.isAdmin}}
            <a href="/dashboard" class="nav-button">dashboard</a>
            <a href="/" class="nav-button">schedule</a>
        {{/if}}
        {{#if session.loggedIn}}
            <button id="logout" class="nav-button">logout</button>
            <p>Logged in as <a href="#">{{session.username}}</a></p>         
        {{/if}}
    </div>
</div>

<div class="line"></div> 

<div class="wrapper">
    <header>
        <div class="page-title">
            <h1>Admin</h1>
        </div>
    </header>
<div>