{{>navbar}}

<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">Contact Us</h1>
            <hr class="my-4">
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            
        </div>
</div>

{{>footer}}