{{>navbar}}

<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">Contact Us</h1>
            <hr class="my-4">
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>


            <form id='contact-form'>
                <div class="form-row">
                    <div class="input-block">
                        <label for="first">First Name</label>
                        <input type="text" name="first_name" id="first">
                    </div>
                    <div class="input-block">
                        <label for="first">Last Name</label>
                        <input type="text" name="last_name" id="last">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="input-block">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="input-block">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="10" cols="59"  ></textarea>
                    </div>
                </div>

                <button type="submit" class="btn-primary">Submit</button>
            </form>
            
        </div>
</div>

{{>footer}}