{{>navbar}}

<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">Frequently Asked Questions</h1>
            <hr class="my-4">
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            <div class="faq-box">
                <div class="faq-question collapsed">
                    <img src="/assets/images/plus.png" class='faq-toggle' alt="">
                    <p>How far back can a hair follicle test detect drug usage?</p>
                </div>
                <div class="faq-answer isHidden">
                    <p>Hair follicle tests can go back approximately 90-days, however everyone's hair grows at a different rate so some individuals will be longer than 90-days while others may be shorter.</p>
                </div>
            </div>
            <div class="faq-box">
                <div class="faq-question collapsed">
                    <img src="/assets/images/plus.png" class='faq-toggle' alt="">
                    <p>How long does it take to get results back from a drug test?</p>
                </div>
                <div class="faq-answer isHidden">
                    <p>It varies depending on the medium being tested (i.e urine, hair, blood etc), how many drugs are being tested for and if the lab detects anything in the sample.  Typically, most negative test are back with 1 to 3 days of the lab receiving the sample, however if confirmation testing is required and/or it needs to be reviewed by a medical review officer it can add several business days for the result to be reported.</p>
                </div>
            </div>
            <div class="faq-box">
                <div class="faq-question collapsed">
                    <img src="/assets/images/plus.png" class='faq-toggle' alt="">
                    <p>I need to take a drug test, but I am also taking a prescribed medicine. Do I need to bring the prescription with me?</p>
                </div>
                <div class="faq-answer isHidden">
                    <p>No, if the medicine you're taking shows up on your drug test you will be contacted by our medical review officer via telephone who will verify your prescirption through the national database. If your prescription is valid the test results will be reported as negative. Please note that medical marijuana cards are not typically valid prescriptions, so your results may still come back positive for THC eventhough you have a medical marijuana card.</p>
                </div>
            </div>
             <div class="faq-box">
                <div class="faq-question collapsed">
                    <img src="/assets/images/plus.png" class='faq-toggle' alt="">
                    <p>Marijuana has been legalalized in Minnesota, am I still being tested for THC on a drug test for my job?</p>
                </div>
                <div class="faq-answer isHidden">
                    <p>Many businesses, including the federal government still test for THC. If your employer's drug policy requires their employees to not use marijuana then they yes you may be tested for THC.  Many employers are rewriting their policies as the laws change, so make sure you communicate with your employer on their current policies.</p>
                </div>
            </div>      
        </div>
</div>

{{>footer}}