{{>navbar}}
<div class=" container main-section">
      {{!-- left side of page --}}
      <div class="left-side">

        {{!-- Oncall banner --}}
        <div class="oncall-banner">
          <img src="/assets/images/oncall-banner.png" class="img-fluid rounded-start" alt="...">
          <button class="q-button">Questions?</button>
        </div>
        <hr class="my-4" />

        {{!-- About Statement --}}
        <h2 class="text-center m-3">Veteran owned and operated to help complete your mission OnSITE or in our clinic.</h2>
        
        {{!-- Our Services --}}
        <div class="card">
          <h5 class="card-title text-primary">Our Services</h5>
           <div class="card-body">
              <ul>
                <div class="service-container">
                  <div class="col-6">
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">DOT Certified Testing Center</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Urine, Saliva, Hair and DNA Testing</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">TB Gold</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Fingerprinting</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Consortium/Third Party Administrator (C/TPA)</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Mobile 24/7</p></li>
                  </div> 
                  <div class="col-6">
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Background Screening</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Drug Testing Policy Consulting</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">Employer/Employee Training per Federal and MN Statutes</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">COVID-19 Testing</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">MVR</p></li>
                    <li><img src="/assets/images/bullseye.svg"/><p class="card-text">BAT</p></li>
                  </div> 
                </div>
              </ul>              
          </div>
        </div>
        {{!-- partner logos --}}
        <div class="card">
          <h5 class="card-title text-primary">Our Partners</h5>
          <div class="card-body">
            <div class="partner-wrapper">
              <img src="/assets/images/labs.png" class="img-fluid rounded-start" alt="...">
              <img src="/assets/images/partners.png" class="img-fluid rounded-start" alt="...">
              <img src="/assets/images/accreditation.png" class="img-fluid rounded-start" alt="...">
          </div>            
          </div>
        </div>
      </div>

      {{!-- right side of page --}}
      <div class="right-side p-0">
        <div class="card">
          <h5 class="card-title text-primary">Walk-in Clinic Location</h5>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2820.219868603072!2d-93.10563708419087!3d45.02046197096257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b2d5f636a00675%3A0x65fcf64e5d9c2a89!2sGuard%20Guys%20LLC%20ONSITE%20DRUG%20TESTING%20AND%20CONSULTING!5e0!3m2!1sen!2sus!4v1653412330654!5m2!1sen!2sus" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="card-body">
              <p class="address-line">70 County Road C West, Ste 702</p>
              <p class="address-line">Little Canada, MN 55117</p>
              {{!-- <hr class="my-4"/> --}}
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-title text-primary">Clinic Hours</h5>
           <div class="card-body">
              <table class="hours-table">
                <tr><td>Monday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Tuesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Wednesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Thursday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Friday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Saturday</td><td class="time-cell">By appointment</td></tr>
                <tr><td>Sunday</td><td class="time-cell">By appointment</td></tr>
              </table>
          </div>
        </div>
        <br>
        <div class="card">
          <h5 class="card-title text-primary">Fingerprint Services</h5>
           <div class="card-body">
              <table class="hours-table">
                <tr><td>Monday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Tuesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Wednesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Thursday</td><td class="time-cell">8:00am - 7:00pm</td></tr>
                <tr><td>Friday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Saturday</td><td class="time-cell">By appointment</td></tr>
                <tr><td>Sunday</td><td class="time-cell">Closed</td></tr>
              </table>   
          </div>
          <a href="https://uenroll.identogo.com/manage-appointment" target="_blank">Schedule Fingerprinting</a>
        </div>
         <br>
        <div class="card">
          <h5 class="card-title text-primary">Contact Us</h5>
           <div class="card-body">
              <table class="hours-table">
                <tr><td>Clinic/On-call</td><td><a href="tel:+16512741756">(651)274-1756 (24hrs)</a></td></tr>
                <tr><td>Fax</td><td>(651)846-5600</td></tr>
                <tr><td>Email</td><td><a href="mailto:support@guardguys.com">support@guardguys.com</a></td></tr>
              </table>   
          </div>
        </div>
      </div>
     
     {{!- --}}
</div>



{{!-- 
<div class="container"  style="height: 70vh;">
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-7">
      <img src="/assets/images/onsite_mobile.png" class="img-fluid rounded-start" alt="...">
      
    </div>
    <div class="col-md-2 p-1">
      <img src="/assets/images/csr_woman.png" class="img-fluid rounded-start">
      <button class="btn btn-primary m-4">Questions?</button>
    </div>
    
    </div>
  </div>
   <div class="jumbotron">
    
  </div>
</div> --}}














</div>

{{>footer}}