{{>navbar}}

<div class="main-section split">
      {{!-- left side of page --}}
      <div class="left-side">

        {{!-- Oncall banner --}}
        <img src="/assets/images/oncall-banner.png" class="oncall-banner" alt="...">


        {{!-- More Info --}}
        <br>
        <div class="panel">
          <div class="panel-title">
            <h5 class="text-primary">Our Services</h5>
            {{!-- <span class="material-symbols-outlined panel-toggle">expand_less</span> --}}
          </div>
          <div class="panel-body">
            <div class="more_info-wrapper">
              <img src="/assets/images/drug_testing-bmp.png" alt="" srcset="">
              <img src="/assets/images/alcohol_testing-bmp.png" alt="" srcset="">
              <img src="/assets/images/dot_testing-bmp.png" alt="" srcset="">
              <img src="/assets/images/employer_solutions-bmp.png" alt="" srcset="">
              <img src="/assets/images/dna_testing-bmp.png" alt="" srcset="">
              <img src="/assets/images/other_testing-bmp.png" alt="" srcset="">
            </div>
          </div>
        </div>

        {{!-- partner logos --}}
        <br>
        <div class="panel">
          <div class="panel-title">
            <h5 class="text-primary">Our Partners</h5>
            <span class="material-symbols-outlined panel-toggle">expand_more</span>
          </div>
          <div class="panel-body collapsed">
            <div class="partner-wrapper">
              <img src="/assets/images/labs.png" class="img-fluid rounded-start" alt="...">
              <img src="/assets/images/partners.png" class="img-fluid rounded-start" alt="...">
              <img src="/assets/images/accreditation.png" class="img-fluid rounded-start" alt="...">
          </div>            
          </div>
        </div>
      </div>
      <br>

      {{!-- right side of page --}}
      <div class="right-side p-0">
        
        {{!-- right column header --}}
        <div class="header-wrapper align-center">
          <img src="/assets/images/header-right.png" alt="">
        </div>
        <br>

        {{!-- Clinic Map --}}
        <div class="panel">
          <div class="panel-title">
            <h5 class="text-primary">Walk-in Clinic Location</h5>
            {{!-- <span class="material-symbols-outlined panel-toggle">expand_less</span> --}}
          </div>
          <div class="panel-body">
              <p class="address-line">70 County Road C West, Ste 702</p>
              <p class="address-line">Little Canada, MN 55117</p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2820.219868603072!2d-93.10563708419087!3d45.02046197096257!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b2d5f636a00675%3A0x65fcf64e5d9c2a89!2sGuard%20Guys%20LLC%20ONSITE%20DRUG%20TESTING%20AND%20CONSULTING!5e0!3m2!1sen!2sus!4v1653412330654!5m2!1sen!2sus" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
        <br>
        
        {{!-- Clinic Hours --}}
        <div class="panel">
          <div class="panel-title">
            <h5 class="card-title text-primary">Clinic Hours</h5>
            {{!-- <span class="material-symbols-outlined panel-toggle">expand_less</span> --}}
          </div>
           <div class="panel-body">
              <table class="hours-table">
                <tr><td>Monday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Tuesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Wednesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Thursday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Friday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Saturday</td><td class="time-cell">By appointment</td></tr>
                <tr><td>Sunday</td><td class="time-cell">By appointment</td></tr>
              </table>
              <br>
              <h4 class="align-center text-primary">No Wait Guaruntee!</p>              
          </div>
        </div>
        <br>

        {{!-- Fingerprinting Hours --}}
        <div id="fp-hours-panel" class="panel">
          <div class="panel-title">
            <h5 class="card-title text-primary">Fingerprinting Hours</h5>
            {{!-- <span class="material-symbols-outlined panel-toggle">expand_more</span> --}}
            {{!-- add collapsed to the panel-body class to keep it collapsed --}}
          </div>
           <div class="panel-body">
              <table class="hours-table">
                <tr><td>Monday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Tuesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Wednesday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Thursday</td><td class="time-cell">8:00am - 7:00pm</td></tr>
                <tr><td>Friday</td><td class="time-cell">8:00am - 5:00pm</td></tr>
                <tr><td>Saturday</td><td class="time-cell">By appointment</td></tr>
                <tr><td>Sunday</td><td class="time-cell">Closed</td></tr>
              </table>   
              <p class="center-link"><a href="https://uenroll.identogo.com/manage-appointment" target="_blank">Schedule Fingerprinting</a></p>
            </div>
        </div>
        <br>
        {{!-- Contact Us --}}
        <div class="panel">
          <div class="panel-title">
            <h5 class="card-title text-primary">Contact Us</h5>
            {{!-- <span class="material-symbols-outlined panel-toggle">expand_less</span> --}}
          </div>
           <div class="panel-body">
              <div class="contact24_7">
                <a href="tel:+16512741756"><img src="/assets/images/24_7-number.png" alt="..."></a>
                <hr class="my-2" />
              </div>
              <table class="hours-table">
                <tr><td>Clinic/Office</td><td><a href="tel:+16512741756">(651)274-1756</a></td></tr>
                <tr><td>Fax</td><td>(651)846-5600</td></tr>
                <tr><td>Email</td><td><a href="mailto:support@guardguys.com">support@guardguys.com</a></td></tr>
              </table>   
          </div>
        </div>
        <br>

       

        
         <div class="csr-wrapper">
          <img src="/assets/images/callcenter_rep-bmp.png" alt="...">
          <button class="q-button">Questions?</button>
        </div>
      </div>

</div>

<script src="/javascript/panels.js"></script>
</div>

{{>footer}}