 <header>
            <div class="logo-wrapper">
                <a href="/public/admin.html"><img src="./assets/GuardGuys OnSITE Logo.png" alt=""></a>
            </div>
            <div class="current-datetime">
               <h2>You must log in to view the schedule</h2>
            </div>
            <div class="nav-bar">
                <h1>Appointment Schedule</h1>
                <div class="week-selector">
                </div>
            </div>
            </header>

<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
  <script src="/javascript/login.js"></script>
</form>