{{>navbar}}

<div class="main-section">

    <h1 class="align-center text-primary">DNA Testing</h1>
    <hr class="my-4">
           
    <h2 class="more-info-text">For more than 25 years genetic testing has been utilized to accurately determine familial relationships, positively identify donors, and provide donors with personalized lifestyle information.</h2>
    
    <div class="panel">
        <div class="panel-title"><h5 class="text-primary">Legal vs Non-Legal Testing</h5></div>
        <div class="panel-body">
            <div class="info-block-wrapper">
                <h2 class="more-info-text">Legal and non-legal testing are both analyzed utilizing the same technology and are equally as accurate. Legal testing differs in how the samples are controlled, transferred and reported after collection.</h2>
                <h2 class="more-info-text">For legal genetic testing, samples must be collected by certified OnSITE Drug Testing and Consulting staff. A proper chain of custody is used to meet the required legal requirements for this testing to be admissible in court. The Legal DNA test results report is a legal document for court purposes.</h2>
            </div>
        </div>
    </div>
    
    <br>

    <div class="panel">
        <div class="panel-title"><h5 class="text-primary">Paternity Testing</h5></div>
        <div class="panel-body">
            <h5 id='regulated-testing' class="group-header"></h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">Determines biological father-child relationships. The DNA profiles from the child and the alleged father are compared to determine if they match.</h2>
                <h2 class="more-info-text">Ideally paternity DNA testing is done with collecting a sample from the mother, child, and the alleged father(s). Typically these samples are taken by a buccal (oral mouth) swab from the cheeks of each donor.</h2>
                <h2 class="more-info-text">Testing can be done without one of the donors and with the use of other DNA sources. This testing method is not as accurate and is not used for Legal Paternity DNA Testing. Prenatal paternity testing is also available before the baby is born. Prenatal paternity testing requires a blood sample from the mother.</h2>
                <h2 class="more-info-text"></h2>
            </div>
        </div>
    </div>

    <br>

    <div class="panel">
        <div class="panel-title"><h5 class="text-primary">Other Testing</h5></div>
        <div class="panel-body">
            <h5 id='regulated-testing' class="group-header"></h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">We provide a several other genetic testing options including:</h2>
                <ul class="info-list">
                    <li>Immigration - meets the legal requirments for immigration applicants</li>
                    <li>Lifestyle - personlized genetic testing for ancestry, weight-loss and more</li>
                    <li>Fertility - Uncertain? Get answers with our accurate home tests</li>
                </ul>
            </div>
        </div>
    </div>

    <br>

    <div class="panel">
        <div class="panel-title"><h5 class="text-primary">Peekaboo Early Gender Detection Test</h5></div>
        <div class="panel-body">
            <div class="info-block-wrapper">
                <img src="/assets/images/peekaboo.png" alt="">
                <h2 class="more-info-text">Our Peekaboo Gender Reveal Test helps you find out what you’re having as early as 7 weeks (that’s 3 months earlier than your anatomy ultrasound!) It’s backed by DNA Diagnostics Center (DDC)—one of the most accredited labs in the world—where experienced, in-house PhDs read your results, delivering over 99% accuracy.* Finding out is important, but knowing you can trust the results you receive means everything… And that’s what sets Peekaboo apart: Trusted science. Trusted results.</h2>
            </div>
        </div>
    </div>

</div>

{{>footer}}