{{>navbar}}

<div class="main-section">
    <h1 class="align-center text-primary">Employer Solutions</h1>
    <hr class="my-4">
    <div class="page-header"><p><em>We work with you to ensure you provide a safe workplace!</em></h2></div>

    <h2 class="more-info-text">Our main focus is assisting local, national and international businesses in creating, maintaining and executing their workplace drug and alcohol safety program. We have expertise in safety-sensitive workplace operations for those <a href="#regulated-testing">regulated</a> by U.S. government agencies (eg. DOT) as well as for those that are <a href="#nonregulated-testing">non-regulated</a>.</h2>
    <h2 class="more-info-text">Additionally, we provide services to help our clients make their programs more efficient and effective and their workplaces even safer.  We offer fully customizable programs which includes all of our services being mobile and on call 24/7, additional healthcare screenings, and employee background checks.</h2>
    <h2 class="more-info-text">When you entrust your safety-sensitive workplace to us you have access to all of our resources:</h2>
    <ul class="info-list">
        <li><a href="/drug_alcohol_testing">Drug and Alcohol Testing</a></li>
        <li><a href="#onsite_service">OnSITE Mobile Service</a></li>
        <li><a href="#oncall_service">On-Call 24/7</a></li>
        <li><a href="/background_checks">Employee Background Checks</a></li>
        <li><a href="#customized_programs">Customized Programs</a></li>
        <li>Enrollment Certification</li>
        <li>Audit & Inspection Support</li>
        <li> <a href="#random_programs">Random Drug Testing Programs</a></li>
        <li>Drug & Alcohol Policy Support</li>
        <li>Complete Online Access to your account and results</li>
        <li>Employer and Employee Training Programs</li>
        <li>Dedicated Program Manager</li>
    </ul>

    <h2 class="more-info-text"> Here’s what our customers are saying about the services.</h2>
    <div class="align-center"><img src="assets/images/stinson_testimonial.svg" width='500px' alt=""></div>
    <br>
    <div class="partner-wrapper">
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/onsite.svg" class="client_logo" alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/hoya.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/second-harvest.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/ecolab.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/egan.svg" class="client_logo"alt="..."></a>              
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/allina.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/stinson.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/ajax.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/little-canada.svg" class="client_logo"alt="..."></a>
        <a href="" target="_blank" rel="noopener"><img src="/assets/images/vadnais-heights.svg" class="client_logo" alt="..."></a>
    </div>            
    <hr class="my-4">

    <div class="panel">
        <div id="onsite_service" class="panel-title scroll-top"><h5 class="text-primary">OnSITE Mobile Service</h5></div>
        
        <div class="panel-body">
            <div class="info-block-wrapper">
                <h2 class="more-info-text">In addition to our Little Canada, MN walk-in clinic, we also provide mobile servivce for any of our services.  We come out to where you are at which saves you time and money.  All of our services are the same price as if they were completed in our clinic, we simply charge an hourly OnSITE/travel fee.</h2>
            </div>
        </div>
    </div>

    <br>

    <div class="panel">
        <div id="oncall_service" class="panel-title scroll-top"><h5 class="text-primary">On-Call 24/7 Service</h5></div>
        
        <div class="panel-body">
            <div class="info-block-wrapper">
                <h2 class="more-info-text">Our collectors are on-call 24/7 for emergency call-outs. Typically we get called out for post-accident or reasonable suspicion situations, but all of our services are available 24/7 if needed.</h2>
                <h2 class="more-info-text">By calling our office phone number <a href="tel:+16512741756">(651)274-1756</a> after hours, and pressing “1”, you will be immediately forwarded to one of our on-call staff. You speak directly to the collector that will be responding to your call, not to some operator that needs to locate a service technician.</h2>
                <h2 class="more-info-text">On-call service agreements are not required to get service, but we do encourage them as our contracted clients receive top-priority and a guaranteed 2-hour response time, within the 7-county Minneapolis metro area.</h2>            
            </div>
        </div>
    </div>

    <br>

        
    <div class="panel">
        <div id="customized_programs" class="panel-title scroll-top"><h5 class="text-primary">Customizable For Your Business</h5></div>
        <div class="info-block-wrapper">
            <h2 class="more-info-text">Many of our clients contract us to provide them with customized plans to meet their specific needs. Two of the more common requests are for us to create random drug testing program and to perform weekly OnSITE preemployment tests.</h2>
        </div>
        <div class="panel-body">
            <h5 id='random_programs' class="group-header scroll-top">Random Drug Testing Programs</h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">We maintain a pool of your safety-sensitive employees in our portal and on a regular basis (weekly, monthly, quarterly etc) randomly select a predetermined percentage to be tested for drugs and/or alcohol.</h2>
                <h2 class="more-info-text">This provides for a very effective random drug testing program which takes the onus off of the owners/managers to make the selections.  Also, because it’s in our system you have access track each employee’s recorded results and easily identify which ones have not complied with the program.</h2>
            </div>
           
            <h5 class="group-header scroll-top">Weekly OnSITE Preemployment Screenings</h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">We come OnSITE to perform preemployment drug screenings during your weekly new hire orientation classes.  This eliminates the inconvenience of having a potential employee go to an off-site lab on their own time and then have to wait several days for the results before they are able to start working. With our OnSITE instant tests, negative results are reported immediately, reducing the chance of you loosing a great candidate to another employer as they are able to start right away!</h2>
            </div>
        </div>

        <div class="info-block-wrapper">
            <h2 class="more-info-text">Any of services may be customized to meet your particular wants/needs as well as being conducted OnSITE at any location. Just let us know what you need and we will do everything within our power to make it work!</h2>
        </div>
    </div>

    <br>

    <h2 class="more-info-text"></h2>
        
        <div class="panel">
            <div class="panel-title"><h5 class="text-primary">Regulated vs Non-Regulated Drug Testing</h5></div>
            <div class="panel-body">
                <h5 id='regulated-testing' class="group-header scroll-top">Regulated</h5>
                <div class="info-block-wrapper">
                    <h2 class="more-info-text">Safety-sensitive workplaces or positions must adhere to the following Health and Human Services (HHS) or Nuclear Regulatory Commission (NRC) testing authority, or are part of one of the following agencies under the U.S. Department of Transportation (DOT):</h2>
                </div>
                <ul class="info-list">
                    <li>Federal Motor Carrier Service Administration (FMCSA)</li>
                    <li>Pipeline and Hazardous Materials Safety Administration (PHMSA)</li>
                    <li>Federal Railroad Administration (FRA)</li>
                    <li>Federal Aviation Administration (FAA)</li>
                    <li>Federal Transit Administration (FTA)</li>
                    <li>U.S. Coast Guard (USCG)</li>
                </ul>
                <h5 id='nonregulated-testing' class="group-header scroll-top">Non-Regulated</h5>
                <div class="info-block-wrapper">
                    <h2 class="more-info-text">Other industries that perform operations that aren't specifically regulated by the goverment, but does require due diligence on the employer's part to ensure the safety of their employees and customers. A few examples of employers that should consider implementing a solid drug and alcohol policy include:</h2>
                </div>
                <ul class="info-list">
                    <li>Operates non-commerical vehicles vehicles (i.e. company vehicles, delivery vans etc)</li>
                    <li>Operates equipment that could cause harm to themselves or their co-workers if improperly used (i.e. manufacturing, construction etc)</li>
                    <li>Processes sensitive data information (i.e. banking, medical etc)</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{{>footer}}