{{>navbar}}

<div class="main-section">
    <h1 class="align-center text-primary">Employer Solutions</h1>
    <hr class="my-4">
    <div class="page-header"><p><em>Do you have or want a drug-free workplace?</em></h2></div>

    <h2 class="more-info-text">We have the expertise in maintaining safety-sensitive workplaces for both U.S. Government <a href="#regulated-testing">regulated</a> industries as well as those that are <a href="#nonregulated-testing">non-regulated</a> in the private-sector.</h2>
    <h2 class="more-info-text">We assist local, national and international businesses in creating, maintaining and executing their workplace drug and alcohol safety program. Here's what our customers are saying about our services.</h2>
    
    <div class="align-center">
        <img src="assets/images/stinson_testimonial.svg" width='500px' alt="">
    </div>
    <br>
    <h2 class="more-info-text">When you entrust your safety-sensitive workplace to us you have access to all of our resources:</h2>
    <ul class="info-list">
        <li>Drug and Alcohol Testing</li>
        <li>OnSITE Service</li>
        <li>On-Call 24/7</li>
        <li>Employee Background Checks</li>
        <li>Enrollment Certification</li>
        <li>Audit & Inspection Support</li>
        <li>Random Selections</li>
        <li>Drug & Alcohol Policy Support</li>
        <li>Complete Online Access to your account and results</li>
        <li>Employer and Employee Training Programs</li>
        <li>Dedicated Program Manager</li>
    </ul>

    <h2 class="more-info-text"></h2>
        
        <div class="panel">
            <div class="panel-title"><h5 class="text-primary">Regulated vs Non-Regulated Drug Testing</h5></div>
            <div class="panel-body">
                <h5 id='regulated-testing' class="group-header scroll-top">Regulated</h5>
                <div class="info-block-wrapper">
                    <h2 class="more-info-text">Safety-sensitive workplaces or positions must adhere to the following Health and Human Services (HHS) or Nuclear Regulatory Commission (NRC) testing authority, or are part of one of the following agencies under the U.S. Department of Transportation (DOT):</h2>
                </div>
                <ul class="info-list">
                    <li>Federal Motor Carrier Service Administration (FMCSA)</li>
                    <li>Pipeline and Hazardous Materials Safety Administration (PHMSA)</li>
                    <li>Federal Railroad Administration (FRA)</li>
                    <li>Federal Aviation Administration (FAA)</li>
                    <li>Federal Transit Administration (FTA)</li>
                    <li>U.S. Coast Guard (USCG)</li>
                </ul>
                <h5 id='nonregulated-testing' class="group-header scroll-top">Non-Regulated</h5>
                <div class="info-block-wrapper">
                    <h2 class="more-info-text">Other industries that perform operations that aren't specifically regulated by the goverment, but does require due diligence on the employer's part to ensure the safety of their employees and customers. A few examples of employers that should consider implementing a solid drug and alcohol policy include:</h2>
                </div>
                <ul class="info-list">
                    <li>Operates non-commerical vehicles vehicles (i.e. company vehicles, delivery vans etc)</li>
                    <li>Operates equipment that could cause harm to themselves or their co-workers if improperly used (i.e. manufacturing, construction etc)</li>
                    <li>Processes sensitive data information (i.e. banking, medical etc)</li>
                </ul>
            </div>
        </div>
        
        <br>
        

        {{!-- partner logos --}}
        <br>
        <div class="panel">
          <div class="panel-title">
            <h5 class="text-primary">Our Clients</h5>
            {{!-- <span class="material-symbols-outlined panel-toggle">expand_more</span> --}}
          </div>
          <div class="panel-body">
            <div class="partner-wrapper">
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/onsite.svg" class="client_logo" alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/hoya.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/second-harvest.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/ecolab.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/egan.svg" class="client_logo"alt="..."></a>              
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/allina.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/stinson.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/ajax.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/little-canada.svg" class="client_logo"alt="..."></a>
              <a href="" target="_blank" rel="noopener"><img src="/assets/images/vadnais-heights.svg" class="client_logo" alt="..."></a>
          </div>            
          </div>
        </div>
      </div>
      <br>
    </div>
</div>


{{>footer}}