{{>navbar}}

<div class="main-section">
    <h1 class="align-center text-primary">Other Testing Services</h1>
    <hr class="my-4">
    <h2 class="more-info-text">In addition to detecting drugs and alcohol in donors, OnSITE Drug Testing & Consulting also provides a full-spectrum of testing on blood and urine samples. Many these types of tests are used for:</h2>
    <ul class="info-list">
        <li>Health Monitoring Programs</li>
        <li>Employee Wellness Programs</li>
        <li>Genetic Marker Testing</li>
    </ul>
    <h2 class="more-info-text">Below are two of our more common requests from our clients is to administer COVID-19 screenings and a tuberculosis detection test; our mobile collectors come OnSITE to your location, it makes these and any other testing you require very easy and efficient to ensure ensure your clients’ and employees’ safety.</h2>
    <h2 class="more-info-text"></h2>
    
    <div class="panel">
        <div id="covid_tests" class="panel-title scroll-top"><h5 class="text-primary">COVID-19 Screenings</h5></div>
        <div class="panel-body">
            <div class="info-block-wrapper">
                <h2 class="more-info-text">OnSITE Drug Testing & Consulting is committed to keep you, your family and your employees healthy and safe.  The COVID-19 pandemic has affected the entire world and we provide different screenings to determine if you have or had the virus.</h2>
                <h2 class="more-info-text">We possess a Clinical Laboratory Improvement Amendment (CLIA) Certificate of Waiver; which is a certification to legally examine a person through waived tests in order to assess health.  This certificate, issued by the U.S. Department of Health and Human Services, allows us to administer approved COVID-19 screenings.  The results may be used by patients for travel purposes.</h2>
            </div>
            <h5 class="group-header">Antibody Test</h5>
             <div class="info-block-wrapper">
                <h2 class="more-info-text">The IgG/IgM Rapid Test is a rapid test intended for qualitative detection and differentiation of anti-SARS-CoV-2 IgG and IgM antibodies in human serum and plasma or whole blood containing EDTA, heparin or citrate anti-coagulants. This test is intended for use as an aid in identifying individuals with an adaptive immune response to SARS-CoV-2, indicating recent or prior infection.</h2>
            </div>
        
            <h5 class="group-header">Antigen Test</h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">A COVID-19 antigen test detects coronavirus proteins in the mouth and throat. This test determines whether a patient is currently infected with COVID-19. This test typically involves a swab of the donor’s nose. This sample is then analyzed using the same underlying processes as a pregnancy test.</h2>
                <h2 class="more-info-text">Antigen testing is a suitable ‘first line of defense’ test against COVID-19, particularly in individuals who have COVID symptoms, because it is a relatively simple procedure, and is quicker than other approaches.  Results are available in about 15 minutes allowing the donor to  know right away if they are infected with the virus.</h2>
            </div>

            
            <h5 class="group-header">PCR Screening</h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">The polymerase chain reaction (PCR) test for COVID-19 is a molecular test that analyzes your upper respiratory specimen, looking for genetic material (ribonucleic acid or RNA) of SARS-CoV-2, the virus that causes COVID-19. Scientists use the PCR technology to amplify small amounts of RNA from specimens into deoxyribonucleic acid (DNA), which is replicated until SARS-CoV-2 is detectable if present. The PCR test has been the gold standard test for diagnosing COVID-19 since authorized for use in February 2020. It’s accurate and reliable.</h2>
                <h2 class="more-info-text"></h2>
            </div>
            
        </div>
    </div>

    <br>

    <div class="panel">
        <div id="tb_tests" class="panel-title scroll-top"><h5 class="text-primary">Tuberculosis Testing</h5></div>
        <div class="panel-body">
            <div class="info-block-wrapper">
                <h2 class="more-info-text">Tuberculosis testing is mandated for most health care workers. We use the most modern testing method - interferon-gamma (IFN-γ) release assay, commonly known as IGRA.</h2>
            </div>
        
            <h5 class="group-header">QuantiFERON-TB Gold (QFT)</h5>
            <div class="info-block-wrapper">
                <h2 class="more-info-text">QuantiFERON-TB Gold (QFT) is a simple blood test that aids in the detection of Mycobacterium tuberculosis, the bacteria which causes tuberculosis (TB). QFT is an IGRA, a modern alternative to the tuberculin skin test (TST, PPD or Mantoux). Unlike the TST, QFT is a controlled laboratory test that requires only one patient visit, making it much more convenient and efficient for your employees.  Additionally, QFT is unaffected by a previous Bacille Calmette-Guerin (BCG) vaccination.</h2>
                <h2 class="more-info-text">The US Centers for Disease Control (CDC) Guidelines recommend the use of IGRAs in all situations in which the TST was historically used.</h2>
            </div>
        </div>
    </div>  

</div>

{{>footer}}