{{>navbar}}

<div class="main-section">
    <h1 class="align-center text-primary">Drug & Alcohol Testing</h1>
    <hr class="my-4">
    <h2 class="more-info-text">At OnSITE we can accurately test for the usage of a broad spectrum of <a href="#drug_list">drug classes</a> and aclohol in individuals through one or more <a href="#testing_mediums">testing mediums</a>.  The medium used to obtain a donor's sample is defined by our customers' specific needs. A standard 5-panel drug-test typically tests for the following drugs: Marijuana, Cocaine, Opiates, Amphetamine and Methamphetamine.  We have additional panel configurations available, we can also customize testing to meet all of your needs.</h2>
    <h2 class="more-info-text">In addition to providing drug and alcohol testing for individuals and private sector companies <a href="/employer_solutions#nonregulated-testing">(non-regulated)</a>, we have also been certified to perform collections for  <a href="/dot_programs">Department of Transportation (DOT)</a> and other  <a href="/employer_solutions#nonregulated-testing">federally regulated</a> programs.</h2>
    <h2 class="more-info-text">Prior to being sent to one of our highly-accredited labratories, the collection is sealed and tracked utilizing a legal chain of custody. If the lab determines that that sample does not contain any of the targeted panels, those results are reported out immediately as negative; however, if the one or more of targeted panels are present, the findings are forwarded to our Medical Review Officer (MRO) to determine the results.  The MRO will personally review the lab's results and, if needed, will interview the donor to see if there is a valid legal reason for having that drug in their system (i.e. current prescription verified though the national database).</h2>
    <h2 class="more-info-text">Our labs’ turnaround times are typically 1 - 2 business days for negative test results; however if confirmation testing and/or the MRO is required to finalize the results, the turnaround time may take an additional several days.</h2>
    
    <h2 class="more-info-text text-primary">Protecting Our Children</h2>
    <h2 class="more-info-text">OnSITE also provides testing for drug exposure in children utilzing a propriatary test called <a href="#child_guard">ChildGuard&#174;</a>.  This test is commonlly used in family courts to determine if one or both of the custodial parents are using around the child.  However, this test can be used for anyone that is suspect of having been exposed to drug use.</h2>
    <hr class="my-4">
    <br>
    <div id="testing_mediums" class="panel scroll-top">
        <div class="panel-title"><h5 class="text-primary">Testing Mediums</h5></div>
        <div class="panel-body">
            <p>The mediums our collectors use include urine, oral fluid (saliva), hair, blood and breath (for blood alcohol content only).  The method used is mainly determined by customer's policy requirements in addition to the desired window of detection, cost and the purpose of the test.</p>
            <h6 class="group-header">Urine</h6>
            <p>Urine is the most common drug testing medium as it is exremely efficient for most use cases. This is due to its lower cost, a desirable detection window (approximately 12-hours to several days) and the ability for instant negative test results through a preliminary screening.  During that process, if the sample produces anything other than a negative result it will be verified though our lab/MRO.</p>
            <p>We maintain strict collection protocols to reduce the possibility of samples being tampered with; however, due to most urine collections being unobserved, it is the most susceptible method to being adulterated by the donor. Observed collections are a viable option, however, they are more distressing for the donor and add additional costs to the collection.</p>
            <p>With this vulnerability it is highly recommended that pre-scheduled (e.g. preemployment and follow-up) testing utilize a different medium.</p>
            <h6 class="group-header">Oral Fluid (Saliva)</h6>
            <p>Oral fluid testing is noninvasive, can detect usage within a few minutes of a drug being ingested and it is very difficult to adulterate.  This provides for a very effective medium in reasonable suspicion and post-accident situations as it shows recent use of controlled substances.</p>
            <p>However, due to the shorter length of the window of detection for most drugs (approximately 48-hours), it is not as practical for pre-scheduled (e.g. preemployment and follow-up) testing.</p>
            <h6 class="group-header">Hair Follicle</h6>
            <p>Hair follicle testing is fast becoming the top-choice of employers for testing their potential/current employees as this medium is very accurate, noninvasive, difficult to adulterate and can detect usage going back approximately 90-days. With other testing mediums, donors only need to abstain from using most drugs for a few days to produce a negative result. Additionally, if a donor does not have sufficient hair on their head, body hair such as a beard or from arms, underarms, chest and legs may be used.</p>
            <p>The main drawback to using this method is cost (a 5-panel hair folicle test is approximately twice that of a 5-panel urine test).  Additionally, it can take 1 to 2 weeks after a drug is first used for it to be present in a donor's hair sample. It's best use cases are for preemployment, random and follow-up testing.</p>
            <h6 class="group-header">Blood</h6>
            <p>Blood plasma is the most accurate method of testing coupled with that it can detect usage within minutes of a drug or alcohol being ingested makes it extremely effective for reasonable suspicion and post-accident cases.</p>
            <p>it is the most invasive method of drug testing and because it requires a trained phlebotomist to collect the sample this is also the most expensive.  Also, because the smaller window of detection for most drugs (approximately 48-hours), it does not accurately indicate a history of drug use. </p>
            <h6 class="group-header">Evidential Breath Testing (EBT)</h6>
            <p>Our certified Breath Alcohol Technicians (BAT) can immediately and accurately determine an individual’s blood alcohol content (BAC) for reasonable suspicion and/or post-accident situations. It is a low-cost, noninvasive method which only requires the donor to blow into a handheld device to determine if they are under the influence of alcohol. It is the same device used by many law enforcement agencies.</p>
            <p>Some situations require an additional EBT test after 15-minutes for positive results where other situations may require an actual blood test to be preformed for confirmation.</p>
        </div>
    </div>

    <br>
            
    <div id="child_guard" class="panel scroll-top">
        <div class="panel-title"><h5 class="text-primary">ChildGuard&#174; Hair Tesing</h5></div>
        <div class="panel-body">
            <p>When a child or someone under guardianship is exposed to illegal substance abuse they often also face other coexisting obstacles to a normal life - neglect, abuse, violence, and other vulnerabilities. Substance abuse is a disease, one that often prevents adults from doing what is in a child’s best interest. Detecting these dangerous environments is paramount to keeping the child safe. Testing with ChildGuard® can assist, where other exposure drug tests fall short.</p>
            <p>ChildGuard® is the only drug test designed to detect passive exposure to drugs, distinguishing between both native drugs and drug metabolites in hair specimens. Drug metabolites are produced in the body only if drugs have been ingested. Children in drug exposed environments are most often not drug users themselves, so drug metabolites are typically absent when a child is being tested for drug exposure. Typical hair tests with other labs will only report a positive exposure result if drug metabolites are detected, even when the native drug is in the child’s hair specimen. ChildGuard® reports a positive result if either native drugs or drug metabolites are detected, giving much better insight about the child’s environment. ChildGuard® can provide evidence of substance use in a child’s environment for the past 3 months, and can be performed on donors of any age.</p>
            <p>A positive ChildGuard® test result suggests that the donor has experienced one or more of the following: Contact with drug smoke, contact with sweat or sebum (skin oil) of a drug user, contact with the actual drug, or accidental or intentional ingestion of the drug(s).</p>
            <p>Specimen collection for ChildGuard requires the same collection materials as standard hair testing.</p>
        </div>
    </div>
            
    <br>
       
    <div id="drug_list" class="panel scroll-top">
        <div class="panel-title"><h5 class="text-primary">Drug Classes</h5></div>
        <div class="panel-body">
            <div class="drug-class-wrapper">
                <div>
                    <h6 class="group-header">Amphetamine</h6>
                </div>
                <div>
                    <h6 class="group-header">Methamphetamines</h6>
                    <p><em>Methamphetamine, Ecstasy (MDMA), MDA</em></p>
                </div>
                <div>
                    <h6 class="group-header">Marijuana (THC/Carboxy THC)</h6>
                    <p><em>Carboxy-THC</em></p>
                </div>
                <div>
                    <h6 class="group-header">Phencyclidine</h6>
                </div>
                <div>
                    <h6 class="group-header">Opiates</h6>
                    <p><em>Codeine, Morphine, Heroin Metabolite (6-MAM) Hydrocodone, Oxycodone, Hydromorphone, Oxymorphone</em></p>
                </div>
                <div>
                    <h6 class="group-header">Benzodiazepines</h6>
                    <p><em>Alprazolam, Nordiazepam, Clonazepam, Oxazepam, Diazepam, Temazepam, Lorazepam</em></p>
                </div>
                <div>
                    <h6 class="group-header">Barbiturates</h6>
                    <p><em>Phenobarbital, Secobarbital, Pentobarbital, Amobarbital, Butalbital</em></p>
                </div>
                <div>
                    <h6 class="group-header">Methadone/Metabolites</h6>
                    <p><em>Methadone, EDDP</em></p>
                </div>
                <div>
                    <h6 class="group-header">Buprenorphine/Metabolites</h6>
                    <p><em>Buprenorphine, Norbuprenorphine</em></p>
                </div>
                <div>
                    <h6 class="group-header">Ketamine/Metabolite</h6>
                    <p><em>Ketamine, Norketamine</em></p>
                </div>
                <div>
                    <h6 class="group-header">Meperidine/Metabolites</h6>
                    <p><em>Meperidine, Normeperidine</em></p>
                </div>
                <div>
                    <h6 class="group-header">Propoxyphene</h6>
                </div>
                <div>
                    <h6 class="group-header">Zolpidem</h6>
                </div>
                <div>
                    <h6 class="group-header">Methcathinone</h6>
                </div>
                <div>
                    <h6 class="group-header">Ethyl Glucuronide</h6>
                </div>
            </div>
    </div>
</div>

{{>footer}}