{{>navbar}}

<div class="main-section">
    <h1 class="align-center text-primary">D.O.T. Certified Programs</h1>
    <hr class="my-4">
    <h2 class="more-info-text">All of OnSITE's in-clinic and mobile collectors have all been trained and certified in accordance with <a href="https://www.ecfr.gov/current/title-49/subtitle-A/part-40" target="_blank">49 CFR § Part 40</a>  to peform federally regulated collectioons for the FMCSA, FAA, FRA, and the Coast Guard</h2>
    <h2 class="more-info-text">In addition to peforming urine and breath sample collections for testing, we also provice several other services to save you time and money while still properly managing and maintaining your federally regulated Workplace Drug and Alcohol Testing Program.</h2>
    <h2 class="more-info-text"></h2>
    
        <div class="panel">
        <div class="panel-title"><h5 class="text-primary">DOT Services</h5></div>

            <div class="panel-body">
                <p></p>
                <h5 class="group-header">Drug & Alcohol Specimen Collections</h5>
                <div class="info-block-wrapper">
                    {{!-- <img src="assets/images/" ALIGN="left" /> --}}
                    <h2 class="more-info-text">If you, or one of your employees, need to complete DOT drug/alcohol testing for preemployment, return to duty, follow-up, post-accident, reasonable suspicion or a random selection, all of OnSITE Drug Testing and Consulting’s employees are trained and certified to properly collect and process federally regulated specimens for the DOT.</h2>
                    <h2 class="more-info-text">We can either collect the sample and ship it to your lab utilizing a provided chain of custody, or process it through our lab and MRO utilizing one of our chain of custodies.</h2>
                    
                </div>
                <h5 class="group-header">Consortiums/Third Party Administrator (C/TPA)</h5>
                <div class="info-block-wrapper">
                    {{!-- <img src="assets/images/" ALIGN="left" /> --}}
                    <h2 class="more-info-text">Companies under the Department of Transportation regulations rule 49 CFR Part 40 are required to comply with federal requirements for random testing. We offer customized random pool programs based on DOT requirements. For larger companies a stand alone pool may be sufficient to ensure the appropriate frequency of testing for your employees.</h2>
                    <h2 class="more-info-text">For smaller companies, and Owner/Operators a national consortium pool is the best option. A national consortium ensures your employees are part of a random drug testing pool while providing the advantages of a larger pool size, including reducing the frequency of testing for smaller companies.</h2>
                    <h2 class="more-info-text">Additionally, if designated as your C/TPA in the DOT Clearinghouse we can assist with meeting your query and violation reporting requirements.</h2>
                    <h2 class="more-info-text">A Clearinghouse query is an electronic check to determine if current or prospective employees are prohibited from performing safety-sensitive functions, such as operating a commercial motor vehicle (CMV), due to unresolved drug and alcohol program violations.</h2>
                </div>

                <h5 class="group-header">DOT Pre-employement Background Checks</h5>
                <div class="info-block-wrapper">
                    {{!-- <img src="assets/images/" ALIGN="left" /> --}}
                    <h2 class="more-info-text">In addition to the Clearinghouse full query, the DOT still requires employers to run pre-employement background checks on their drivers.  Whether you use OnSITE as your C/TPA or not, we provide a full <a href="/background_checks#bg_packages">background screening service</a> which includes previous employment verification, MVR, along with federal and county criminal searches.  This will help protect you and your company from hiring the wrong applicant.</h2>
                    <h2 class="more-info-text"></h2>
                    <h2 class="more-info-text"></h2>
                    <h2 class="more-info-text"></h2>
                </div>



                <h5 class="group-header">DOT Physicals and Medical Cards</h5>
                <div class="info-block-wrapper">
                    {{!-- <img src="assets/images/" ALIGN="left" /> --}}
                    <h2 class="more-info-text">DOT physical are used to determine your physical health and ability to safely operate a commercial vehicle. These determinations ensure that you are medically qualified to handle the physical and emotional stress of operating commercial vehicles, under all types of conditions.</h2>
                    <h2 class="more-info-text">DOT physicals are required to obtain a commercial driver's license and/or drivers who:</h2>
                    <ul class="info-list">
                        <li>transport hazardous materials that require their vehicles to display a hazmat placard</li>
                        <li>are paid to operate motor vehicles that carry more than eight people</li>
                        <li>operate motor vehicles that carry more than 15 people</li>
                        <li>operate motor vehicles that have a gross combination weight rating of over 10,000 pounds</li>
                    </ul>
                    <h2 class="more-info-text">A DOT physical exam is valid for up to 24 months. The medical examiner may also issue a medical examiner's certificate for less than 24 months when it is desirable to monitor a condition, such as high blood pressure.</h2>
                    <h2 class="more-info-text">If the medical examiner finds that the person, he/she examined is physically qualified to drive a commercial motor vehicle (CMV), the medical examiner will furnish one copy of the results to the person who was examined and complete a Medical Examiner's Certificate.</h2>
                </div>

               

            <p></p>
        </div>
    </div>    

</div>

{{>footer}}