{{>navbar}}

<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">Background Checks</h1>
            <hr class="my-4">
            <h2 class="more-info-text">Our employer background checks service gives you the tools to in ensure the people you hire or need to test for yourself or your clients are trustworthy and have the necessary skill, job experience, and education that they claim to possess. The employee screening process can protect employers/organizations from lawsuits and charges of negligence of hiring the wrong applicant.</h2>
            <h2 class="more-info-text">There's no application, sign-up fee or a minimum purchase contract to use our background check services, just give us a call and we will get you set up immediately!</h2>
            <h2 class="more-info-text"></h2>
            



             <div class="panel">
                <div class="panel-title"><h5 class="text-primary">How it works</h5></div>
                <div class="panel-body">
                    <p></p>
                    <h5 class="group-header"></h5>
                    <div class="info-block-wrapper">
                        <h2 class="more-info-text">You simply provide us with the subject’s name and contact information (email and phone number) and select which background check package you’d like to run, then we will do the rest.</h2>
                        <h2 class="more-info-text">The person whom you are initiating the background check on will receive an email that contain’s a link to our secure site where they will need to provide their information. You don’t have to collect any of their Personally Identifiable Information (PII) nor get their consent, we do all of that electronically through Intellishield.</h2>
                        <h2 class="more-info-text">Once the background check is complete, you’ll receive notification that the results are available through our online portal. The results may be downloaded, printed or can remain online in our portal indefinitely.</h2>
                    </div>
                    <p></p>
                </div>
            </div>
            <br>

             <div class="panel">
                <div class="panel-title"><h5 class="text-primary">Consumer Reporting Agency</h5></div>
                <div class="panel-body">
                    <p></p>
                    <h5 class="group-header"></h5>
                    <div class="info-block-wrapper">
                        <img src="/assets/images/intellishield.png" alt="">
                        <h2 class="more-info-text">OnSITE Drug Testing uses Intellishield to perform the background check processing. Intellishield provides the consumer report as the consumer reporting agency (CRA). This protects you as Intellishield legally are responsible for handling disputes and any issues with the background check reports.</h2>
                    </div>
                    <p></p>
                </div>
            </div>
            <br>
             <div class="panel">
                <div class="panel-title scroll-top" id="bg_packages"><h5 class="text-primary">Packages and Pricing</h5></div>
                <div class="panel-body">
                    <p></p>
                    <h5 class="group-header">Available Packages</h5>
                    <ul class="info-list">
                        <li>Basic - $29.95</li>
                        <li>Basic Plus - $49.95</li>
                        <li>Professional Protection Basic - $69.95</li>
                        <li>Professional Protection Basic Plus - $99.95</li>
                        <li>DOT Package - $119.95</li>
                        <li>Health Care Package - $55.00</li>
                        <li>Landlord Package - $40.00</li>
                        <li>MVR Only Package - $9.00 plus any State fees</li>
                    </ul>
                    <img src="/assets/images/background_table.svg" id="background_table" alt="">
                </div>
            </div>        
        </div>
</div>

{{>footer}}