{{>navbar}}
<div class="container"  style="height: 70vh;">
    {{>home-button}}
     <hr class="my-1">
    <h1 class="text-center">Program Management</h1>
    TURN TO US FOR CUSTOMIZED PLANS. LET US DO THE WORK!
    <p>To provide the ultimate in customer service we provide several levels of program management by though customized partnerships with clients.  These customized agreements can be as simple as a pricing plan to us completely managing your drug/alcohol program</p>
              <ul>
                <li>Customized Service Agreements</li>
                <li>Guaranteed Pricing Plans</li>
                <li>Random Drug Testing Pools/Selections</li>
                <li>Customized Training</li>
                <li>Scheduled Collections Times</li>
              </ul>
              <p>All of our partners have immediate access to their individual testing results/status via our online portal.</p>
</div>

{{>footer}}