{{>navbar}}

<div class="main-section">
    <div class="wrapper">
        {{!-- <header>
            <div class="page-title">
                <h1>Appointment Scheduler</h1>
                <button id="add-event" class="nav-button">new event</button>
            </div>
            <div>
                <div class="current-datetime">
                    <p class="day">Monday</p>
                    <p class="time">7:00am</p>
                    <p class="date">4/4/2022</p>
                </div>
                <div class="week-controls">
                    <div class="week-selector">
                        <div class="selector-label">displaying week of</div>
                        <div class="week-window">
                            <button id="left-arrow">&LeftArrow;</button>
                            <div><p id="weekOf"></p></div>
                            <button id="right-arrow">&RightArrow;</button>
                        </div>
                    </div>
                    <button id="current-week" class="nav-button">this week</button>
                </div>
            </div>
        </header> --}}
        <div class="main-view">            
            <section class="week-view"></section>
        </div>
    </div>
</div>
<form id="event-input">
    <h2 id="form-label">Edit Details</h2>
    <label for="event-title">Event</label>
    <input type="text" name="" id="event-title">
    <div>
        <div class="selector-group">
            <label for="start-date">Start</label>
            <input id="start-date" class="date-selector" type="date">    
            <input id="start-time" class="time-selector" type="time">       
        </div>
        <div class="selector-group">
            <label for="start-date">End</label>
            <input id="end-date" class="date-selector" type="date">    
            <input id="end-time" class="time-selector" type="time">
        </div>
        <div class="assigned-line">
            <div>
                <label for="onsite-selector">OnSITE</label>
                <input type="checkbox" name="onsite-selector" id="onsite-selector">    
            </div>
            <div>
                <label for="user-selector">Assigned to</label>
                <select id="user-selector"></select>        
            </div>
        </div>
    </div>

    <label for="event-notes">Notes</label>
    <textarea name="" id="event-notes" cols="30" rows="5"></textarea>
    <div class="button-group">
        <button id="submit">Submit</button>
        <button id="cancel">Cancel</button>
        <button id="delete">Delete</button>
    </div>
</form>



<script src="/javascript/schedule.js"></script>