:root {
    --header-color: #122c91;
    --onsite-color: #2a6fdb;
    --inclinic-color: #48d6d2;
    --top-color: #81e9e6;
    --today-color: #fefcbf;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.logo-wrapper img {
    /* height: 95px; */
}

.nav-items {
    display: flex;
    align-items: center;
    font-size: 15px;
}
.nav-items p {
    font-size: inherit;
}
.nav-button {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border: none;
    background: none;
    color: var(--header-color);
    border: var(--header-color) 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 125px;
}

.nav-button:hover {
    background: var(--header-color);
    color: white;
    font-weight: bold;
}


header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    background: white;
}



.line {
    margin: 0 auto;
    border-bottom: 2px solid var(--header-color);
}

.current-datetime {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    background: var(--today-color);
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -125px;

}

.current-datetime .title {
    font-size: 14px;
    font-weight: bold;
    color: var(--header-color);
}

.current-datetime .time {
    font-size: 50px;
    color: var(--header-color);
}

.current-datetime .date, .current-datetime .day {
    font-size: 20px;
    color: var(--header-color);
}

.nav-bar {
    display: flex;
    align-items: center;
}

.page-title {
    display: flex;
    align-items: center;
}

.page-title h1 {
    font-size: 36px;
    font-weight: normal;
}
.calendar {
    display: flex;
    width: 100%;
}
.day-column {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    flex: 1 1;
    min-height: 85vh;
}
.event {
    border: black solid 1px;
    /* align-items: center; */
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.day-header {
    color: white;
    background: var(--header-color);
    padding: 10px;
}
.day-header h2, .day-header h3 {
    text-align: center;
    font-weight: normal;
}
.onsite {
    background: var(--onsite-color);
    color: white;
}
.inclinic {
    background:var(--inclinic-color);
    color: black;
}
.event p {
    font-size: 14px;
    margin: 0;
}

#event-input, .login-form {
    margin: 25px;
    border: solid 2px black;
    box-shadow: 2px 2px 5px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 10px;
    background-color: whitesmoke;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -200px;
}

#form-label {
    text-align: center;
    margin-bottom: 10px;
    font-weight: normal;
}

#event-title {
    padding: 5px;
}
.selector-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.selector-group label {
    width: 5px;
}
#user-selector {
    padding: 5px;
    width: 125px;
}

#event-notes {
    padding: 5px;
    resize: none;
}
.button-group {
    display: flex;
    justify-content: space-around;
}
.assigned-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.button-group button {
    height: 40px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
}
#submit {
    background: green;
    color: white;
}

#cancel {
    background: wheat;
}

#delete {
    background: tomato;
}

.past_day {
    background: rgb(230, 222, 222);
}
.future_day {
    background: white;
}
.this_day {
    background: var(--today-color);
}

.center-page {
    position: fixed; /* Stay in place */
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}

/* Login page */

.login-form {
    display: flex;
    margin-top: -200px;
    margin-left: -200px;
}
.login-form button {
    height: 40px;
    width: 75px;
    margin: 10px;
    border-radius: 10px;
}
.login-form input {
  width: 100%;
  padding: 5px;
}

.accordion-item button {
    font-size: 24px;
    color: #0275d8;
}
.accordion-icon {
    font-size: 8.0em;
    color: #0275d8;
    margin: 20px;
}

.accordion-body ul {
    list-style: none;
}

.main_text {
    font-size:1.5em;
    line-height: 1.5;
}

.list_text {
    font-size: 1.2em;
    line-height: 2.0;
    list-style: none;
    font-style: italic;
    margin: 50px;
    margin-top: 10px;
}
.guardguys-logo {
    height: 95px;
}
.logo-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: whitesmoke;
    padding: 10px;
}
/* Beginning of social-wrapper part of header */

.social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: space-between; */
    /* padding: 10px; */
}

.social-wrapper ul {
    display: flex;
    list-style: none;
    /* align-items: flex-end; */
    /* justify-content: space-around; */
}

.social-wrapper ul a {
    
}

.contact-icon {
  width: 36px;
  padding: 2px;
}

.header-phone {
    /* text-decoration: none; */
    /* font-size: 24px; */
    /* font-family: 'Kanit'; */
    /* font-weight: 550; */
    /* color: white; */
    /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
    /* font-style: oblique; */
}

.breadcrumb a {
    color: white;
}

.breadcrumb >.active {
    color: silver;
}

.week-controls {
    display: flex;
    align-items: center;
}
#add-event {
    width: 150px;
}

.main-view {
    flex: 1;
}
.week-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selector-label {
    font-size: 12px;
    font-style: oblique;
}
.week-window {
    display: flex;
}

.week-window div {
    padding: 2px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.week-window p {
    text-align: center;
    width: 100px;
    height: 10px;
}
.week-window button {
    width: 30px
}

@media screen and (max-width: 896px) {
    .calendar {
        flex-direction: column;
    }

    .logo-wrapper {
        flex-direction: column;
    }
    .current-datetime  {
        display: none;
    }

    .day-column {
        min-height: 0;
    }

    header {
        flex-direction: column;
        align-items: center;
    }
    .nav-bar {
        align-items: center;
    }
}

