:root {
    --header-color: #122c91;
    --onsite-color: #2a6fdb;
    --inclinic-color: #48d6d2;
    --top-color: #81e9e6;
    --today-color: #fefcbf;
    --white: #fefefe;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center-link {
    margin-top: 10px;
    text-align: center;
}

.card-title {
    text-align: center;
}

.address-line {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 1.2em;
}

.hours-table {
    margin: 0 auto;
}
.hours-table td {
    width: 150px;
}


.nav-items {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.oncall-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.q-button:hover{
    background: var(--onsite-color);
    color: var(--white);
}

.service-container {
    display: flex;
    width: 100%;
}

.service-col {
    flex: 1;
    width: 50%;
}
.card-collapsed {
    display: none;
}

.main-section ul {
    list-style: none;
    /* line-height: ; */
}

.service-container a {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}


.service-container img {
    width: 20px;
    margin-right: 10px;
    margin-top: 3px;
}

.nav-button {
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border: none;
    background: none;
    color: var(--white);
    border: var(--white) 1px solid;
    border-radius: 10px;
    padding: 4px;
    min-width: 100px;
    font-size: 14px;
}

.nav-button:hover {
    background: var(--white);
    color: var(--onsite-color);
}


.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background:  #2a6fdb;
}

.header a {
    color: white;
}


.line {
    margin: 0 auto;
    border-bottom: 2px solid var(--header-color);
}
/* 
.current-datetime {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    background: var(--today-color);
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -125px;

} */

/* .current-datetime .title {
    font-size: 14px;
    font-weight: bold;
    color: var(--header-color);
} */

/* .current-datetime .time {
    font-size: 50px;
    color: var(--header-color);
} */

/* .current-datetime .date, .current-datetime .day {
    font-size: 20px;
    color: var(--header-color);
} */
/* 
.nav-bar {
    display: flex;
    align-items: center;
} */

.page-title {
    display: flex;
    align-items: center;
}

.page-title h1 {
    font-size: 36px;
    font-weight: normal;
}
.calendar {
    display: flex;
    overflow-y: scroll;
}
.day-column {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    flex:0 1 20%;
    min-height: 85vh;
}
.event {
    border: black solid 1px;
    /* align-items: center; */
    padding: 4px;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
.event-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.accordion-item button {
    font-size: 24px;
    color: #0275d8;
}
.accordion-icon {
    font-size: 8.0em;
    color: #0275d8;
    margin: 20px;
}

.accordion-body ul {
    list-style: none;
}

.main_text {
    font-size:1.5em;
    line-height: 1.5;
}

.list_text {
    font-size: 1.2em;
    line-height: 2.0;
    list-style: none;
    font-style: italic;
    margin: 50px;
    margin-top: 10px;
}
.guardguys-logo {
    height: 95px;
}
.logo-wrapper {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background: whitesmoke;
    padding: 10px;
}
/* Beginning of social-wrapper part of footer */
footer {
    background: var(--header-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.social-wrapper {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.contact-icon {
  width: 40px;
}

footer p {
    margin: 10px;
    padding: 0;
    color: white;
}

.schedule-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.week-controls {
    display: flex;
    align-items: center;
}



.main-view {
    flex: 1;
}

/* 
.week-selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selector-label {
    font-size: 12px;
    font-style: oblique;
} */


.calendar-column {
    border: black 1px solid;
    min-height: 70vh;
    flex: 0 0 250px;
}


@media screen and (max-width: 896px) {
    .calendar {
        flex-direction: column;
    }

    .logo-wrapper {
        flex-direction: column;
    }
    .current-datetime  {
        display: none;
    }

    .day-column {
        min-height: 0;
    }
}

