<div id="navigation">
  <div class="nav-wrapper">
    <a href="/"><img
        src="/assets/images/guardguys-logo-white.svg"
        alt=""
        srcset=""
      /></a>
    <div class="nav_items">
      <div class="nav_horizontal">
        <ul>
          <li><a href="/" class="navButton">Home</a></li>
          <li><a href="/about-us" class="navButton">About Us</a></li>
          <li><a href="/faqs" class="navButton">FAQ</a></li>
          <li><a href="/contact_us" class="navButton">Contact Us</a></li>
          
          {{#if session.loggedIn}}
            <li><a href="/schedule" class="navButton">Schedule</a></li>
            {{#if session.isAdmin}}
              <li><a href="/admin" class="navButton">Dashboard</a></li>
            {{/if}}
            <li><a id="logout-button" class="navButton">Log out</a></li>
          {{else}}
            <li><a href="/login" class="navButton">Employee Portal</a></li>
          {{/if}}
         
        </ul>
      </div>
      <div class="nav_vertical">
        <span class="material-symbols-outlined">menu</span>
        <ul id="vert_menu" class="isHidden">
          <li><a href="/" class="navButton">Home</a></li>
          <li><a href="/about-us" class="navButton">About Us</a></li>
          <li><a href="/faqs" class="navButton">FAQ</a></li>
          <li><a href="/contact_us" class="navButton">Contact Us</a></li>

          {{#if session.loggedIn}}
            <li><a href="/schedule" class="navButton">Schedule</a></li>
            {{#if session.isAdmin}}
              <li><a href="/admin" class="navButton">Dashboard</a></li>
            {{/if}}
            <li><a id="vert-logout-button" class="navButton">Log out</a></li>
          {{else}}
            <li><a href="/login" class="navButton">Employee Portal</a></li>
          {{/if}}
        </ul>
      </div>
    </div>

  </div>
</div>

{{#if session.loggedIn}}
  <script src="/javascript/logout.js"></script>
{{/if}}