{{>navbar}}


<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">About Us</h1>
            <hr class="my-4">
            
            <div class="mission-statement"><p><em>Our mission is to ensure fast, friendly, ethical and accurate services to our customers and comminities in which we serve.</em></p></div>
            <br>
            <div class="panel">
                <div class="panel-title">
                    <h5 class="text-primary">What We Do</h5>
                </div>
                <div class="panel-body">
                    <p>OnSITE Drug Testing and Consulting is a full-service drug testing company dedicated to helping individuals, small businesses, national chains and professional firms through customized services to meet their unique drug testing and program management needs. OnSITE has grown over the last 14 years from a Minnesota based company to a company that provides drug testing across the the United States through the 911 Drug Test Network. When you hire OnSITE Drug Testing you hire a team of certified collectors trained in drug and alcohol testing, DNA testing, DOT, FAA, regulated workplace testing, employment testing/background checks as well as other safety sensitive training and program management.</p>
                    <p>As a federally designated Certified Disabled Veteran Business, 75% of our team is compared of Veterans.</p>
                </div>
            </div>
            <br>
            <div class="panel">
                <div class="panel-title">
                    <h5 class="text-primary">Leadership Team</h5>
                </div>
                <div class="panel-body">
                   
                   {{!-- Charlie's card --}}
                    <div class="bio-card">
                        <div class='bio-name'>Charlie Bebus, President</div>
                        <div class='bio-education'>MBA (Business Broker, Operations Consultant)</div>
                        <div class="bio-wrapper">
                            <img src="/assets/images/headshot_charlie.png" class="bio-pic" alt="..."/>
                            <p>Charlie possesses more than 23 years of leadership and operations experience. He's had careers in active-duty military, law enforcement, supply chain, operational management, and non-profit turnaround in police and civic administration, bus manufacturing, lumber manufacturing and distribution and recruiting. Throughout his various careers, he built and trained successful teams, led Sales and Marketing efforts, operated in complex and stressful environments, and developed strategic relationships. Charlie has a Minnesota Salesperson license from the Department of Commerce, a bachelor's degree in police administration from St. Mary's University, and an MBA from the University of Minnesota Carlson School of Management. His areas of expertise: manufacturing, supply chain management and distribution, government contracts and veteran affairs relations.</p>
                        </div>
                    </div>
                    
                    <hr class="my-4">
                    
                    {{!-- Pat's card --}}
                    <div class="bio-card">
                        <div class='bio-name'>Pat Lawler, Vice President</div>
                        <div class='bio-education'>Masters of Aeronautical Science (Human Factors)</div>
                        <div class="bio-wrapper">
                            <img src="/assets/images/headshot_pat.png"  class="bio-pic" width="200px" alt="..."/>
                            <p>An aviation safety expert who manages the Company's DOT/TPA Consortiums. He earned a master's degree in aeronautical science from Embry-Riddle Aeronautical University. He has more than 30 years of experience in military aviation and airline aviation operations. Pat retired from the Air National Guard as a Master Sergeant overseeing the safety and professional training of 27 aviation electronics technicians at the 148th FW in Duluth, Minnesota. In his military career, he taught aviation electronics theory and repair to avionics technicians. After his retirement, Pat became the Interim Director of Aviation at Lake Superior College's Center for Advanced Aviation. He is also an airline with Delta's Endeavor Air.</p>
                        </div>
                    </div>

                    <hr class="my-4">

                    {{!-- Elizabeth's card --}}
                    <div class="bio-card">
                        <div class='bio-name'>Elizabeth Tvedt, Director of Sales and Marketing</div>
                        <div class='bio-education'></div>
                        <div class="bio-wrapper">
                            <img src="/assets/images/headshot_elizabeth.png"  class="bio-pic" width="200px" alt="..."/>
                            <p>Extensive experience building successful teams, operating in complex environments, and developing strategic relationships. Proven performer with strong organizational, motivational, and analytical abilities.</p>
                        </div>                        
                    </div>

                    <hr class="my-4">
                    
                    {{!-- Wendy's card --}}
                    <div class="bio-card">
                        <div class='bio-name'>Wendy Kulzer, Office Manager</div>
                        <div class='bio-education'></div>
                        <div class="bio-wrapper">
                            <img src="/assets/images/headshot_wendy.png"  class="bio-pic" width="200px" alt="..."/>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi tristique. Adipiscing commodo elit at imperdiet dui accumsan sit. Tellus id interdum velit laoreet id donec ultrices tincidunt. Eros donec ac odio tempor orci dapibus ultrices in. Amet tellus cras adipiscing enim eu. Porttitor lacus luctus accumsan tortor posuere ac ut consequat. Amet purus gravida quis blandit turpis cursus. Ultrices mi tempus imperdiet nulla malesuada pellentesque. Neque aliquam vestibulum morbi blandit cursus risus. Egestas quis ipsum suspendisse ultrices gravida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


{{>footer}}