{{>navbar}}

<div class="main-section">
        <div style="max-width:1400px; margin: 0 auto" class="more-info-page">
            <h1 class="align-center text-primary">Other Testing Services</h1>
            <hr class="my-4">
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            <h2 class="more-info-text"></h2>
            
             <div class="panel">
                <div class="panel-title"><h5 class="text-primary">Other Services</h5></div>
                 <div class="panel-body">
                   <p></p>
                   <h5 class="group-header"></h5>
                   <p></p>
                </div>
            </div>    
        </div>
</div>

{{>footer}}